body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    width: 70%;
    background-color: rgb(129, 129, 129);
    padding: 20px;
    border-radius: 1rem;
}